<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">RideIt</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.listings') }}">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.my_listings') }}">My Listings</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if username %}
                <li class="nav-item">
                    <span class="navbar-text">Welcome, {{ username }}</span>
                </li>
                <li class="nav-item">
                    <form action="{{ url_for('main.logout') }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-link nav-link" style="display: inline;">Logout</button>
                    </form>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.register') }}">Register</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
